*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: bisque;
}
.content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
}
.item{
    width: 500px;
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 0px 10px 10px 0px;
}
.image{
    width: 50%;
    height: 100%;
}
img{
    width: 100%;
    height:100%;
    border-radius: 10px 0px 0px 10px;
}
.description{
    width: 50%;
    height: 100px;
    border-radius: 0px 10px 10px 0px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    background-color: white;
    padding: 0px 10px 0px 10px;
    
}
button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    height: 40px;
    border-radius: 5px;
    background-color: hsl(158,36%, 37%);
    color: white;
    border: none;
}
.cart{
    width: 15px;
    height: 15px;
    margin-right: 5px;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
}
.cl{
    color: hsl(158,36%, 37%);;
}
.spa{
    text-decoration: line-through;
}
.line{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}